.main-contents {
  margin: 0 auto;
  width: 90%;
  margin-top: 50px;
}

.cipher-main {
  margin-top: 10px;
  padding: 10px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cipher-main-title {
  margin-right: 15px;
  font-size: 1.2em;
  margin-top: 5px;
}

.cipher-main-input {
  font-size: 1.2em;
  margin-right: 15px;
  padding: 5px;
  width: 30px;
  text-align: center;

  border:none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 5px #7ce569 inset;
  -moz-box-shadow:0 0 5px #7ce569 inset;
  box-shadow:0 0 5px #7ce569 inset;
}

.cipher-main-input:focus {
 outline:none; 
}

.cipher-main-input-btn {
  font-size: 1.1em;
  color: #666;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 15px;
  margin-top: 0px;
  padding-top: 5px;
}

.cipher-main-input-btn:hover {
  opacity: 0.7;
}