body {
  background-color: #303030;
  /* background: #ECEFF1;  */
  /* color: rgba(0,0,0,0.87);  */
  font-family: Roboto, Helvetica, Arial, sans-serif; 
  margin: 0; 
  padding: 0;
}

#myCanvas {
  background-color: #fff;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
}

#cipher-hints-list {
  padding: 1.5em;
  color: #b4b4b4;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%; 
}

.cipher-hints {
  padding: 5px 10px;
  line-height: 1.5em;
}

.text-dt {
  background-color: #be8034;
  padding: 3px 6px;
  border-radius: 5px;
  margin-right: 7px;
  color: #3f0505;
  font-weight: 500;
}