body {
  background-color: #303030;
  color: #ddd;

  font-family: Roboto, Helvetica, Arial, sans-serif; 
  margin: 0; 
  padding: 0;

  /* height: 100vh; */
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* html, body {
  height: 100%;
  margin: 0;
} */

header {
  position: fixed;
  top:0;
  height: 50px;
  width: 100%;
}

main {
  margin-top: 50px;
  min-height: calc(100vh - 70px);
}

footer {
  border-top: 1px solid rgb(104, 101, 101);
  height: 45px;
  display: grid;
  place-items: center;
  background-color: #222;
  position: sticky
}

.btn {
  text-align: center;
  cursor: pointer;
}

@supports (height: 100vh) { 
  body{ 
    background: linear-gradient(to right top, #0089f2 50%, #DDD 50%);
    background-size: 100% calc(100% - 100vh + 50px);
    background-repeat: no-repeat;
  }

  body:before{
    content:'';
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background-color: #303030;
  }
}

/* 
#myCanvas {
  background-color: #fff;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
}

#cipher-hints-list {
  padding: 1.5em;
  color: #b4b4b4;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%; 
}

.cipher-hints {
  padding: 5px 10px;
  line-height: 1.5em;
}

.text-dt {
  background-color: #be8034;
  padding: 3px 6px;
  border-radius: 5px;
  margin-right: 7px;
  color: #3f0505;
  font-weight: 500;
} */